/* ini CSS */

body {
    font-family: arial;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 25px;
}

section {
    padding: 40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
}

.logo-icon {
    height: 100px;
    width: 100px;

    /* For Image Icon */
    background-image: url(../assets/LOGO\ ADIL\ MERAH\,BG\ PUTIH_1\ 1.png);
    border-radius: 0%;
    background-size: cover;
}

nav>a {
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid;
}

.banner-container {
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-image: url(../assets/Banner\ ADIL\ 2.png)
}

.services-content {
    display: flex;
    justify-content: space-evenly;
}

.services-item {
    text-align: center;
    flex: 1;
    text-align: -webkit-center;
}

.services-icon {
    height: 200px;
    width: 220px;

    /* For Image Icon */
    border-radius: 20%;
    background-size: cover;
}

.services-1 {
    background-image: url(../assets/Jasa\ Pengacara.jpg)
}

.services-2 {
    background-image: url(../assets/Konsultasi\ Hukum.jpg)
}

.services-3 {
    background-image: url(../assets/Adil\ Academy.jpg)
}
